// ścieżka do pliku: src/styles/_variables.scss

$main-color: #a2c579;
$secondary-color: #35495e;
$third-color: #d2de32;

$navbar-color: #016a70;
$navbar-hover: #ffffdd;
$navbar-item: #ffffff;

$font-color: #000000;

$login-form: #0a0a0adb;
